body{
    margin: 0;
}

.header{
    height: 90px;
    display: flex;
    justify-content: space-between;
    gap: 0;
}
ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
.icon area{
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.loginpage{
margin-left: 20px;
display: flex;
align-items: center;
}

.maindiv{
    margin-top: 20px;
}

.manyitems{
display: flex;
justify-content: space-between;
}