.karthik {
    color: pink;
}
.veera {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.karthik1 {
    color:blue;
}
.uk {
    color: yellow;
    
}
#ukvk{
    background-color: tomato;
}